
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&display=swap');
body{
  font-family: 'Bodoni Moda', serif !important ;
  background-color: antiquewhite !important;
}
.contact-img{
  height: 180px;
  width: 180px;
  border-radius: 50%;
}